<!DOCTYPE html>
<html>
<head>
	<title>Тестовое задание №2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container" style="margin-top: 70px;">
		<ul class="list-group">
	{% for lesson in lessons %}
		  <li class="list-group-item"><a href="lesson/{{lesson.id}}">{{lesson.title}}</a></li>
	{% endfor %}
		</ul>
		
	</div>
</body>
</html>